<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftyIB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftyIBBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SwiftyIBExport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SwiftyIBKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftyIBTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9211AF781FF747E6005E26D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9288B24520C09CA300176AE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92C06A9D1FF47CC7004D6B5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92C06AAF1FF47CC8004D6B5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92C06ABA1FF47CC8004D6B5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
